<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Añadir contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="newContactForm" (ngSubmit)="newContact(newContactForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Nombre" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="phone" type="text" placeholder="+34698125456" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mail</ion-label>
        <ion-input formControlName="mail" type="text" placeholder="example@mail.com" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Cumpleaños</ion-label>
        <ion-input formControlName="date" type="text" placeholder="dd/MM/yyyy" required></ion-input>
      </ion-item>
      <br>
      <ion-row>
        <ion-col>
          <button type="submit" mat-flat-button color="accent" [disabled]="!newContactForm.valid" style="width:100%">Añadir</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>