<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home" aria-label="Icon home">
      <ion-icon name="list"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-contact" class="ios" tab="add-contact" aria-label="Icon add">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Añadir contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/cam" class="ios" tab="cam" aria-label="Icon camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camara</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>