<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Pedir cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="newBookingForm" (ngSubmit)="newBooking(newBookingForm.value)">
      <ion-item>
        <ion-label position="floating">Especialidad</ion-label>
        <ion-input formControlName="speciality" type="text" placeholder="cardiologia, digestivo.." required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
        <ion-input formControlName="img" type="text" placeholder="url" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Profesional</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Dr/a. nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input formControlName="date" type="text" placeholder="dd-MM-yyyy" required></ion-input>
      </ion-item>
      <br>
      <ion-row>
        <ion-col>
          <button type="submit" mat-flat-button color="accent" [disabled]="!newBookingForm.valid" style="width:100%">Pedir</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>