<ion-header>
  <ion-toolbar>
    <ion-title>
      DocApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Citas
    </ion-list-header>

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.data.name}}
        </h5>
        <p>
          <ion-icon name="calendar"></ion-icon> {{booking.data.date}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button mat-mini-fab color="primary" aria-label="Icon-button with a edit icon" (click)="editBooking(booking.id)">
          <mat-icon>edit</mat-icon>
        </button>        
        <button mat-mini-fab color="warn" aria-label="Icon-button with a trash icon" (click)="deleteBooking(booking.id)" style="margin-left:5px">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>