<ion-header>
  <ion-toolbar>
    <ion-title>
      ContactsApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Lista Contactos
    </ion-list-header>

    <ion-item *ngFor="let c of Contacts" class="user-list">
      <ion-avatar slot="start">
        <ion-img [src]="c.data.img"></ion-img>
      </ion-avatar>

      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{c.data.name}}
        </h5>
        <p>
          <ion-icon name="calendar"></ion-icon> {{c.data.date}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button mat-mini-fab color="primary" aria-label="Icon-button with a edit icon" (click)="editContact(c.id)">
          <mat-icon>edit</mat-icon>
        </button>        
        <button mat-mini-fab color="warn" aria-label="Icon-button with a trash icon" (click)="deleteContact(c.id)" style="margin-left:5px">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" fill="clear" href="https://github.com/Soniatt93/ionic-firestore-crud" target="_blank">Github</ion-button>
  </ion-toolbar>
</ion-footer>