<ion-header>
  <ion-toolbar>
    <ion-title>
      Actualizar contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateContactForm" (ngSubmit)="editContact(updateContactForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Nombre" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
        <ion-input formControlName="img" type="text" placeholder="https://example.jpg" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="phone" type="text" placeholder="+34698125456" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mail</ion-label>
        <ion-input formControlName="mail" type="text" placeholder="example@mail.com" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cumpleaños</ion-label>
        <ion-input formControlName="date" type="text" placeholder="dd/MM/yyyy" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <button type="submit" mat-flat-button color="primary" [disabled]="!updateContactForm.valid" style="width:100%">Actualizar</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
